{% extends "layouts/default.njk" %}

{% block title %}11st{% endblock %}

{% block content %}
<div class="fixed inset-0 flex justify-center items-center">
	<div>
		<span class="text-change">Good design</span>
		<span class="change">is as little design<br />as possible</span><br>
		<span x-data="message()" class="text-yellow-500 text-4xl" x-text="msg"></span>
	</div>
</div>
<script>
document.addEventListener('alpine:init', () => {
	Alpine.data('message', () => ({
		msg: "Hello World Yo!"
	}))
})
</script>
{% endblock %}